body{
    font-family: Arial;
    background-color: skyblue;
    overscroll-behavior: none;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button{
    cursor: pointer;
    border: none;
    padding: 2px 10px 2px 10px;
    height: 22px;
    border-radius: 5px;
    background-color: darkblue;
    color: aliceblue;
}

button:hover{
    background-color: mediumblue;
}

button:disabled,
button:disabled:hover{
    background-color: gray;
    cursor:default;
}

.row{
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.thumb{
    width: 100%;
}

.rowLabel{
    flex: 2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sampleContainer{
    flex: 1 1 0;
    background-color: white;
    text-align: center;
    border-radius: 10%;
    margin: 1px;
    overflow: hidden;
}

.blur {
    filter: blur(5px);
}

.emphasize{
    background-color: yellow;
}

#container{
    width: calc(100% - 500px);
}

#chartContainer{
   position:fixed;
   right:0;
   top:50%;
   transform: translate(0, -50%); 
}

thead{
    font-weight: bold;
}

table, td{
    border:     2px solid white;
    padding:    5px;
    text-align: center;
    border-collapse: collapse;
}

#chartContainer{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}